<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Michael Feller</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet"> 

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark topBar fixed-top">
      <div class="container">
        <div>
          <img class="illuIcon" src="img/techSmallIcon.png" alt="Illustration Page Icon">
          <h1 class="programmingHeader">Technical Art</h1>
        </div>
          <a href="index.html"> <img class="illuHomeIcon" src="img/techHomeIcon.png" alt="Home icon for illustration section"> </a>
       
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container programContainer">

      <!-- Portfolio Item Heading -->
      <h2 class="my-4">InspireXR</h2>

      <!-- Portfolio Item Row -->
      <div class="row segment">

        <div class="col-md-6">
          <img class="OutpostImage" src="img/ixrProjector.png" alt="screenshot of Inspire XR home scene">
        </div>

        <div class="col-md-6">
          <h3 class="my-3">Project Description</h3>
          <p>Ink drawing colored with copics, and further colorized in photoshop.</p>
          <h3 class="my-3">Tools Used</h3>
          <ul>
            <li>Pencil</li>
            <li>Ink</li>
            <li>Copic Markers</li>
            <li>Photoshop</li>
          </ul>
        </div>

      </div>

      <div class="row segment">

        <div class="col-md-6">
          <h3 class="my-3">Project Description</h3>
          <p>Ink drawing colored with copics, and further colorized in photoshop.</p>
          <h3 class="my-3">Tools Used</h3>
          <ul>
            <li>Pencil</li>
            <li>Ink</li>
            <li>Copic Markers</li>
            <li>Photoshop</li>
          </ul>
        </div>

        <div class="col-md-6">
          <img class="OutpostImage" src="img/ixrScreen.png" alt="screenshot of Inspire XR home scene">
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>

      <div class="row segment">

      <div class="col-md-4 col-sm-6 mb-4">
          <a href="driftwood.html">
            <img class="img-fluid selectionImages" src="img/LPIsland.png" alt="bush snake">
          </a>
        </div>

        <div class="col-md-4 col-sm-6 mb-4 overlay">
          <a href="ratKing.html">
            <img class="img-fluid selectionImages" src="img/InPrntCover.jpg" alt="rat hat">
          </a>
        </div>

        <div class="col-md-4 col-sm-6 mb-4 overlay">
          <a href="tristateWork.html">
            <img class="img-fluid selectionImages" src="img/tristateLandscape.png" alt="tools">
          </a>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">M Feller Illustration 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
