<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Michael Feller</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet"> 

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark topBar fixed-top">
      <div class="container">
        <div>
          <img class="illuIcon" src="img/illuSmallIcon.png" alt="Illustration Page Icon">
          <h1>Illustration Work</h1>
        </div>
          <a href="index.html"> <img class="illuHomeIcon" src="img/illuHomeIcon.png" alt="Home icon for illustration section"> </a>
       
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h2 class="my-4">Miner Mo
        <small>Personal Work</small>
      </h2>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="OutpostImage" src="img/minerMoNoVig.png" alt="miner mo">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>

      <div class="row">

        <div class="col-md-3 col-sm-6 mb-4 overlay">
          <a href="outpost.html">
            <img class="img-fluid selectionImages" src="img/OutpostTeal.png" alt="Outpost">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4 overlay">
          <a href="bushSnake.hmtl">
            <img class="img-fluid selectionImages" src="img/bushSnake.jpg" alt="bush snake">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4 overlay">
          <a href="ratKing.html">
            <img class="img-fluid selectionImages" src="img/InPrntcover.jpg" alt="rat king">
          </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
          <a href="tools.html">
            <img class="img-fluid selectionImages" src="img/toolsH.png" alt="tools">
          </a>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">M Feller Illustration 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>