<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Michael Feller</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet"> 

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark topBar fixed-top">
      <div class="container">
        <div>
          <img class="illuIcon" src="img/progSmallIcon.png" alt="Illustration Page Icon">
          <h1 class="programmingHeader">Programming Work</h1>
        </div>
          <a href="index.html"> <img class="illuHomeIcon" src="img/progHomeIcon.png" alt="Home icon for illustration section"> </a>
       
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container programContainer">

      <!-- Portfolio Item Heading -->
      <h2 class="my-4">InspireXR</h2>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-5">
          <img class="OutpostImage" src="img/InspireXR.png" alt="Outpost">
        </div>

        <div class="col-md-7">
          <h3 class="my-3">Project Description</h3>
          <p>Ink drawing colored with copics, and further colorized in photoshop.</p>
          <h3 class="my-3">Skills Used</h3>
          <ul>
            <li>Pencil</li>
            <li>Ink</li>
            <li>Copic Markers</li>
            <li>Photoshop</li>
          </ul>
        </div>
      </div>
        
      <div class="rightSegment">
      <h2 class="my-4 rightHeader">Schwab OES</h2>
      <!-- Portfolio Item Row -->
      <div class="row">

      	<div class="col-md-7">
          <h3 class="my-3">Project Description</h3>
          <p>Ink drawing colored with copics, and further colorized in photoshop.</p>
          <h3 class="my-3">Skills Used</h3>
          <ul>
            <li>Pencil</li>
            <li>Ink</li>
            <li>Copic Markers</li>
            <li>Photoshop</li>
          </ul>
        </div>

        <div class="col-md-5">
          <img class="OutpostImage" src="img/placeholderProgImage.png" alt="Outpost">
        </div>
      </div>
  	</div>


      <h2 class="my-4">Balance Belt</h2>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-5">
          <img class="OutpostImage" src="img/placeholderProgImage.png" alt="Outpost">
        </div>

        <div class="col-md-7">
          <h3 class="my-3">Project Description</h3>
          <p>Ink drawing colored with copics, and further colorized in photoshop.</p>
          <h3 class="my-3">Skills Used</h3>
          <ul>
            <li>Pencil</li>
            <li>Ink</li>
            <li>Copic Markers</li>
            <li>Photoshop</li>
          </ul>
        </div>
      </div>

      <div class="rightSegment">
      <h2 class="my-4 rightHeader">Delaunay Mesh Refinement Optimization</h2>
      <!-- Portfolio Item Row -->
      <div class="row">

      	<div class="col-md-7">
          <h3 class="my-3">Project Description</h3>
          <p>Ink drawing colored with copics, and further colorized in photoshop.</p>
          <h3 class="my-3">Skills Used</h3>
          <ul>
            <li>Pencil</li>
            <li>Ink</li>
            <li>Copic Markers</li>
            <li>Photoshop</li>
          </ul>
        </div>

        <div class="col-md-5">
          <img class="OutpostImage" src="img/placeholderProgImage.png" alt="Outpost">
        </div>
      </div>
  </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">M Feller Illustration 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

